/* Organizando todo o site em caixa */
* {
	box-sizing: border-box;
}

/* Ajustes em todo site */
body {
	font-family: Arial;
	padding: 10px;
	background: #f1f1f1;
}

/* Ajustes no cabeçalho principal */
.header {
	padding: 30px;
	text-align: center;
	background: white;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../img/pizza.jpg);
	min-height: 90%;
}

/* Ajustando o tamanho do cabeçalho */
.header h1 {
	font-size: 50px;
}

/* Ajustando a cor e escondendo o conteúdo excedido */
.topnav {
	overflow: hidden;
	background-color: #333;
}

/* Ajuste nos LINKS do Menu principal */
.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Mude a cor ou passar o mouse */
.topnav a:hover {
	background-color: #ddd;
	color: black;
}

/* Left column */
.leftcolumn {   
	float: left;
	width: 75%;
}

/* Right column */
.rightcolumn {
	float: left;
	width: 25%;
	background-color: #f1f1f1;
	padding-left: 20px;
}

.fakeimg {
	background-color: #aaa;
	width: 100%;
	padding: 20px;
}

/* Criando o efeito cartão */
.card {
	background-color: white;
	padding: 20px;
	margin-top: 20px;
}

/* Resonvendo problemas de ajustes */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Rodapé */
.footer {
	padding: 20px;
	text-align: center;
	background: #ddd;
	margin-top: 20px;
}

.titulo-principal {
	color: white;
	font-size: 12em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.listas { list-style-type:none; }
.listas li { font-size: 1.3em; }
.preco { float:right;color: #fff!important;background-color: #616161!important;padding:5px;margin:1px;border-radius: 4px; }
.titulo_preco { float:right;padding:5px;margin:3px;border-radius: 4px; }

/* Transformando em um Layout responsivo - telas medias */
@media screen and (max-width: 800px) {
	.leftcolumn, .rightcolumn {   
		width: 100%;
		padding: 0;
	}
	.topnav a {
		float: none;
		width: 100%;
	}
}

/* Transformando em um Layout responsivo - telas menores */
@media screen and (max-width: 400px) {
	.topnav a {
		float: none;
		width: 100%;
	}
}

/* Criando os ajustes dos botões */
.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #3e7327;
	-webkit-box-shadow:inset 0px 1px 0px 0px #3e7327;
	box-shadow:inset 0px 1px 0px 0px #3e7327;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
	background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
	background-color:#77b55a;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
	background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
	background-color:#72b352;
}
.myButton:active {
	position:relative;
	top:1px;
}